* {
  box-sizing: content-box;
}
body {
  display: grid;
  padding: 0 2rem 0 2rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "center center";
}
body header {
  grid-area: header;
}
[role="main"] {
  grid-area: center;
}
[role="main"] article {
  font-size: 1rem;
}
[role="main"] article article {
  column-count: 2;
}
[role="main"] article section.comments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 600px) {
  [role="main"] article {
    grid-template-columns: 1fr;
  }
}
